
<div class="container-fluid travel-v2">
  <div class="row">
    <ul class="navbar-brand">
      <li><%= link_to 'Sundry Travels', root_path %></li>
    </ul>
    <ul class="nav navbar-inverse nav-pills">
      <li><%= link_to 'Destinations', destinations_page_path %></li>
      <li><%= link_to "Editor's Picks", editorpicks_page_path %></li>
      <li><%= link_to 'About', about_page_path %></li>
      <li><%= link_to 'Contact', contact_page_path %></li>
    </ul>
  </div>
  <div class="row">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image:url('assets/sunset-1645105_1920.jpg')">
          <div class="carousel-caption">
            Sunset
          </div>
        </div>
        <div class="item" style="background-image:url('assets/korea-1922376_1920.jpg')">
          <div class="carousel-caption">
            Korea
          </div>
        </div>
        <div class="item" style="background-image:url('assets/namdaemun-market-326146_1920.jpg')">
          <div class="carousel-caption">
            Korea
          </div>
        </div>
        <div class="item" style="background-image:url('assets/japan-217882_1920.jpg')">
          <div class="carousel-caption">
            Japan
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
